<header>
  <div class="left">
    <h1>Track search <mat-icon>music_note</mat-icon></h1>
    <p class="subtitle">Using <a href="https://developers.deezer.com/api" target="_blank">Deezer API</a></p>
  </div>
  <div class="copyrights">
    <span>Maxime Chevallier-Pichon, 2020</span>
    <span><a href="https://gitlab.com/chevallm2/angular-deezer/" target="_blank">Sources</a></span>
  </div>
</header>
