header {
  display: flex;
  align-items: baseline;
  padding: 1em;
  background-color: #673ab7;
  color: white;
  justify-content: space-between;
}

header a {
  color: white;
}

header .subtitle {
  margin-left: 1em;
}

.copyrights {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  align-items: baseline;
}
