<mat-card appHoverable>
  <mat-card-content>
    <div class="track">
      <div class="cover">
        <img [src]="track.album.cover_small" [alt]="'Album cover of ' + track.album.title">
      </div>
      <div class="data">
        <dl>
          <dt>Artist</dt>
          <dd>{{ track.artist.name }}</dd>
          <dt>Album</dt>
          <dd>{{ track.album.title }}</dd>
          <dt>Track</dt>
          <dd>{{ track.title }}</dd>
        </dl>
      </div>
      <div class="actions">
        <button mat-raised-button (click)="selectTrack(track.preview)" color="accent">PREVIEW <mat-icon>music_note</mat-icon></button>
        <a mat-raised-button [href]="track.link" target="_blank">LISTEN ON DEEZER <mat-icon>launch</mat-icon></a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
