.track {
  display: flex;
  align-items: stretch;
}

.data dt {
  font-weight: bold;
}

.data {
  width: 50vw;
  display: flex;
  align-items: center;
}

.cover {
  margin-right: 1vw;
  display: flex;
  align-items: center;
}

.cover img {
  border-radius: 50%;
  border: 1px solid #929292;
}

.actions {
  margin-left: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  justify-content: space-evenly;
}

mat-card {
  margin: 1vh;
}

button, a {
  white-space: pre-wrap !important;
}

