<app-header></app-header>

<main>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Track name</mat-label>
      <input matInput type="search" placeholder="Harder Better Faster Stronger" formControlName="recherche">
    </mat-form-field>
  </form>

  <div class="player">
    <audio controls [src]="previewTrack" #player></audio>
  </div>

  <ul class="tracklist">
    <li *ngFor="let track of tracks | async">
      <app-track [track]="track" (trackSelected)="playTrack($event)"></app-track>
    </li>
  </ul>
</main>
