.tracklist {
  list-style: none;
  padding-inline-start: 0;
}

mat-form-field {
  width: 90vw;
  padding: 1em;
}

.player {
  display: flex;
  justify-content: center;
}

.player audio {
  width: 100%;
}

main {
  margin: 2vh 2vw;
}

